<h1>Constante do PHP</h1>
{{ constant('PHP_BINARY') }}
<h1>Constante de Classes</h1>
{{ constant('SON\\Cliente::CLIENTE_CPF') }}
{{ constant('CLIENTE_CPF', cliente) }}

<h1>Função Attibute</h1>
{{ attribute(cliente, 'name') }}
{{ attribute(cliente, 'id', ['ID']) }}
{{ cliente.getId() }}
{{ attribute(cliente, 'getId') }}

<h1>Função date</h1>
{% set minha_data = date('now') %}
{{ minha_data.format('d/m/Y') }}
